body{
    color: #000000;
    background-color: #F5F5EB;
    text-decoration: none;
    font-size: 2vh;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: 100vh;
}


p{
    font-size: 3vh;
}
section {
    display: block;
}
.accordion {
    width: 60vh;
    padding: 5vh;
    margin: 0 auto;
    cursor: pointer;
}

.accordion label, .accordion p {
    margin: 0;
}
.accordion p {
    padding: 1vh;
}


.accordion .mem-img {
    height: 0;
    color: blue;
    overflow: hidden;
    transition: height  0.1s ease-in-out;
}




.icons {
display:none;

}

.mem-img {
    display: flex;
    justify-content: center;
    margin: 1vh;
}

.faq-title{
display: flex;
    justify-content: space-between;
}

.icons {
width: 2vh;
}

.faq-title:after {
    /* content: "";
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%); */
}



.faq-input {
    width: 100%;
    height: 100%;
    opacity: 0;
    /* height: 0; */
    /* -webkit-appearance: none;
    appearance: none; */
    position: absolute;
}

.faq-input:checked ~ .faq-title {

}

.faq-input:checked ~ .faq-text > img {
    height: 30vh;
}
/*
.faq-input:focus ~ .faq-text > img {
    height: 30vh;
} */

.faq-input:hover ~ .faq-text > img {
    height: 30vh;

}
/*
.faq-title:hover ~ .faq-text > img {
    height: 30vh;
}

.faq-text:hover ~ .faq-text > img {
    height: 30vh;
} */




/* .faq-input:checked ~ .faq-title:after {
    border-style: solid;
    border-width: 0 5px 8px 5px;
    border-color: transparent transparent #fff transparent;
} */


.faq-text {
     display: flex;
    justify-content: center;

}
img{
    height: 0;
    margin: .5vh;
    overflow: hidden;
    transition: height .1s ease-out;
}


