body {
  color: #000000;
  background-color: #f5f5eb;
  text-decoration: none;
  font-size: 2vh;
  font-weight: 600;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  min-height: 100vh;
}

p {
  font-size: 3vh;
}
section {
  display: block;
}

.accordion .faq-text,
img {
  height: 0;
  color: blue;
  overflow: hidden;
  transition: height 0.9s linear;
}
.faq-text {
  display: flex;
  justify-content: center;
}
img {
  height: 0;
  margin: 0.5vh;
  overflow: hidden;
  transition: height 0.1s ease-out;
}
.accordion {
  width: 60vh;
  padding: 5vh;
  margin: 0 auto;
  cursor: pointer;
}

.faq-box {
  width: 35em;
}

.memtext {
  display: flex;
  justify-content: space-between;
}

input {
  display: none;
}

.accordion label,
.accordion p {
  margin: 0;
}
.accordion p {
  padding: 1vh;
}

.faq-title {
  display: flex;
  flex-direction: column;
}

.icons {

  background-image: url("images/cross.png");
  background-size: cover;
  width: 1em;
  height: 1em;
  visibility: hidden;
}

.faq-title {
  display: flex;
  justify-content: space-between;
}

.accordion:hover .icons {
  visibility: visible;
}

section:hover .faq-text,
img {
  height: 30vh;
  margin-top: -0.5em;
  color: #000;
  padding: 1em 2em 1em;
}

input:checked + label .faq-text,
img {
  height: 30vh;
  margin-top: -0.5em;
  color: #000;
  padding: 1em 2em 1em;
}

input:checked + label .icons {
  background-image: url("images/plus.png");
  width: 1em;
  height: 1em;

}
